progress{
     width: 168px;
     height: 10px;
     color:#007aff;
     background:#a5a5a5;
     border-radius: 5px;
    transition: height 0.3s;
}
/* 表示总长度背景色 */
progress::-webkit-progress-bar{
    background-color: #a5a5a5;
    border-radius: 5px;
}
 /* 表示已完成进度背景色 */
progress::-webkit-progress-value{
    background: #007aff;
    border-radius: 5px;
}

progress:hover{
    /* border: #00acee solid 3px;*/
    box-shadow: #4e555b 0 0 5px;

}